@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes growProgress {
    0% {
      width: 0;
    }
    100% {
      width: var(--progress-width);
    }
  }
  
  .progress-bar {
    animation: growProgress 1s ease-in-out forwards;
  }

  .fadeWrapper {
    --mask: linear-gradient(to bottom, #000 99%, transparent 100%);
    -webkit-mask: var(--mask); 
    mask: var(--mask);
  }
  .slick-dots {
    position: relative; /* Change from absolute to relative positioning */
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    bottom: 0;
  }
  