@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes growProgress {
    0% {
      width: 0;
    }
    100% {
      width: var(--progress-width);
    }
  }
  
  .progress-bar {
    animation: growProgress 1s ease-in-out forwards;
  }

  .fadeWrapper {
    --mask: linear-gradient(to bottom, #000 99%, transparent 100%);
    -webkit-mask: var(--mask); 
    mask: var(--mask);
  }